<h1>HTTP Request(s) caught:</h1>

<div class = "pagination">
    {% if page_obj.has_previous %}
        <a href= "?page={{ page_obj.previous_page_number }}">Previous</a>
    {% else %}
        Previous
    {% endif %}
    <ul>
        {% for req in records %}
            <li>
                <a href="{% url 'getRequest' req.id %}">({{ req.id }}) &nbsp {{req.http_method}} &nbsp {{ req.path }} &nbsp [{{ req.timestamp }}]</a>
            </li>
            <hr>
        {% empty %}
            <li>No requests captured yet.</li>
        {% endfor %}
    </ul>
    <span>Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href = "?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>